<%= form_for(property) do |f| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :rent %>
    <%= f.text_field :rent %>

    <%= f.label :address %>
    <%= f.text_field :address %>

    <%= f.label :age %>
    <%= f.text_field :age %>

    <%= f.label :remarks %>
    <%= f.text_area :remarks %>

    <%= f.fields_for :nearst_stations do |station| %>
      <%= station.label :route_name %>
      <%= station.text_field :route_name %>

      <%= station.label :name %>
      <%= station.text_field :name %>

      <%= station.label :walking_minutes %>
      <%= station.text_field :walking_minutes %>
    <% end %>

  <%= f.submit %>
<% end %>
