<%= form_for(property) do |f| %>
  <% if property.errors.any? %>
    <div id="error_explanation">

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="property_form">
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :rent %>
    <%= f.text_field :rent %><%= "円" %>

    <%= f.label :address %>
    <%= f.text_field :address %>

    <%= f.label :age %>
    <%= f.text_field :age %><%= "年" %>

    <%= f.label :remarks %>
    <%= f.text_area :remarks %>
  </div>

  <hr>

  <div class="station_form">
    <% count = 1 %>
    <%= f.fields_for :nearst_stations do |station| %>
      <h3><%="最寄り駅#{count}" %></h3>
      <%= station.label :路線名 %>
      <%= station.text_field :route_name %>

      <%= station.label :駅名 %>
      <%= station.text_field :name %>

      <%= station.label :徒歩分数 %>
      <%= station.text_field :walking_minutes %><%= "分" %>

      <% count += 1 %>
    <% end %>
  </div>

  <div class="action">
    <%= f.submit %>
  </div>
<% end %>
