<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @property.name %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @property.rent %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Age:</strong>
  <%= @property.age %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @property.remarks %>
</p>

<p>
  <strong>Route_name:</strong>
  <%= @property.nearst_stations[0].route_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @property.nearst_stations[0].name %>
</p>

<p>
  <strong>Walking_minutes:</strong>
  <%= @property.nearst_stations[0].walking_minutes %>
</p>

<p>
  <strong>Route_name:</strong>
  <%= @property.nearst_stations[1].route_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @property.nearst_stations[1].name %>
</p>

<p>
  <strong>Walking_minutes:</strong>
  <%= @property.nearst_stations[1].walking_minutes %>
</p>


<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
